# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Project exclude paths
/project/target/
/target/
/target/scala-2.12/classes/
/target/scala-2.12/test-classes/
